language: node_js
node_js:
  - "0.10"
before_script:
  - npm install -g grunt-cli
  - npm install -g bower
  - bower install
after_script:
  - cat .statistics/coverage/lcov/lcov.info | ./node_modules/coveralls/bin/coveralls.js
